:root {
    --ffamily01: "Darumadrop One", sans-serif;

    /* Color Theme Swatches in Hex */
    --marron: #997571;
    --rojo: #E66557;
    --amarillo: #E6CD93;
    --verde-oscuro: #739953;
    --verde-claro: #B3E687;
    --azul: #87CAE6;
}

body {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
}

.container {
    /* background-color: var(--gris-oscuro); */
    background-color: var(--verde-oscuro);
    width: 30rem;
    max-width: 100svw;
    /* height: 90svh; */
    height: 100svh;
    margin: auto;
    /* margin-top: 5svh; */
    border-radius: 1rem;
}









.title {
    /* background-color: red; */
    height: 4rem;
    font-family: var(--ffamily01);
    text-align: center;
    font-size: 3rem;

    overflow: hidden;
}













.input-span {
    /* background-color: red; */
    width: 100%;
    height: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}

input {
    /* background-color: var(--gris-claro); */
    background-color: var(--amarillo);
    border: none;
    width: 70%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border-left: 0.3rem solid var(--verde-oscuro);
    
    font-family: var(--ffamily01);
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.add-task, .new-list {
    /* background-color: var(--azul); */
    background-color: var(--azul);
    /* border: none; */
    padding: 1rem;
    width: 6rem;
    /* width: 3rem;
    height: 3rem; */
    border-radius: 2rem;
    /* border: 0.3rem solid var(--gris-oscuro); */
    border: 0.3rem solid var(--verde-oscuro);

    position: relative;
    /* right: 1rem; */
    left: -1rem;
    /* left: -77%; */
    margin-right: -1rem;

    font-family: var(--ffamily01);
    font-size: 1rem;
}

@keyframes add-task-anim {
    50%{
        width: 90%;
    }
}

@keyframes add-task-anim-input {
    50%{
        width: 0;
        padding: 0;
    }
}

















#list-section, #rooms-section {
    height: 95%;
}

.tasks-div, .lists-div {
    /* background-color: var(--gris-claro); */
    background-color: var(--amarillo);
    border-radius: 1rem;
    width: 90%;
    height: fit-content;
    max-height: calc(100% - 13rem);
    /* max-height: 50%; */
    margin: auto;

    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* scrollbar-color: var(--azul) transparent; */
    /* scrollbar-color: var(--verde-oscuro) transparent; */
    scrollbar-color: transparent transparent;
}

.tasks-list {
    margin-left: 0.3rem;
}

.task {
    /* background-color: red; */
    margin-left: -2rem;
    /* padding-top: 0.1rem; */
    /* padding-bottom: 0.1rem; */
    list-style: none;
    margin-top: -1rem;
    margin-bottom: -1rem;
    /* height: fit-content; */
    
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 2.2rem 1fr 2.5rem;

    /* text-decoration: line-through; */
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
    /* scrollbar-color: var(--azul) transparent; */
    scrollbar-color: transparent transparent;
}

.task-check-btn {
    /* background-color: var(--gris-claro); */
    background-color: var(--amarillo);
    width: 1.7rem;
    height: 1.7rem;
    /* border: 3px solid var(--azul); */
    border: 3px solid var(--verde-claro);
    border: 3px solid black;
    border-radius: 0.4rem;
    margin: auto 0;
}

.task-check-btn-checked {
    /* background-color: var(--azul); */
    background-color: var(--verde-claro);
}

.task-p {
    font-family: var(--ffamily01);
    font-weight: 900;
    font-size: 2.5svh;
}

.task-delete-btn {
    background-color: var(--rojo);
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    border: none;
    margin: auto 0;
    font-weight: 900;
    font-family: var(--ffamily01);

}

@keyframes new-task-anim {
    0%{
        color: transparent;
        border-color: transparent;
        background-color: transparent;
    }
}

.inlist-btns {
    position: absolute;
    bottom: 1rem;
    width: 30rem;
    max-width: 100svw;
}

.volver-btn {
    float: right;
    margin-right: 1rem;

    background-color: var(--azul);
    border: none;
    padding: 1rem;
    width: 6rem;
    border-radius: 2rem 2rem 1rem;
    border: 0.3rem solid var(--verde-oscuro);

    font-family: var(--ffamily01);
    font-size: 1rem;
}















.lists-div {
    /* background-color: red; */
    background-color: transparent;
    height: fit-content;
    /* max-height: calc(100% - 14rem); */
    max-height: calc(100% - 11rem);
    border-radius: 0;
}

.list {
    list-style: none;
    background-color: var(--amarillo);
    padding-inline: 1rem;
    margin-left: -2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
}

.list-name {
    width: 60%;
    font-family: var(--ffamily01);
    font-size: 3svh;
    text-decoration: underline;
    /* font-weight: 900; */
}

.list-delete-btn {
    background-color: var(--rojo);
    /* width: 2rem; */
    height: 2rem;
    padding-inline: 1rem;
    border-radius: 1.5rem;
    border: none;
    margin: auto 0;
    font-weight: 900;
    font-family: var(--ffamily01);
}

.input-search-span {
    width: 30rem;
    max-width: 100%;
    margin-top: -1rem;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}

.input-search {
    border-radius: 2rem;
    text-align: center;
    width: 6rem;
    padding: 0.3rem;
    border: none;
}

.input-search:focus {
    /* padding: 1rem; */
    animation: input-search-focus-anim 0.2s ease 0s forwards;
}

@keyframes input-search-focus-anim {
    100%{
        padding: 0.7rem;
        width: 17rem;
        margin-bottom: -0.8rem;
    }
}